DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=ai_interview_system

DOUBAO_API_KEY=
DOUBAO_API_URL=https://ark.cn-beijing.volces.com/api/v3/chat/completions

XF_APP_ID=
XF_API_KEY=
XF_API_SECRET=
